Head method returns the request content

When trying to use the HEAD method I'm getting the request content while the correct is to only get the headers:

```
[9] pry(main)> HTTParty.head('http://google.com/any-page')
=> "<!DOCTYPE html>\n<html lang=en>\n  <meta charset=utf-8>\n  <meta name=viewport content=\"initial-scale=1, minimum-scale=1, width=device-width\">\n  <title>Error 404 (Not Found)!!1</title>\n  <style>\n    *{margin:0;padding:0}html,code{font:15px/22px arial,sans-serif}html{background:#fff;color:#222;padding:15px}body{margin:7% auto 0;max-width:390px;min-height:180px;padding:30px 0 15px}* > body{background:url(//www.google.com/images/errors/robot.png) 100% 5px no-repeat;padding-right:205px}p{margin:11px 0 22px;overflow:hidden}ins{color:#777;text-decoration:none}a img{border:0}@media screen and (max-width:772px){body{background:none;margin-top:0;max-width:none;padding-right:0}}#logo{background:url(//www.google.com/images/errors/logo_sm_2.png) no-repeat}@media only screen and (min-resolution:192dpi){#logo{background:url(//www.google.com/images/errors/logo_sm_2_hr.png) no-repeat 0% 0%/100% 100%;-moz-border-image:url(//www.google.com/images/errors/logo_sm_2_hr.png) 0}}@media only screen and (-webkit-min-device-pixel-ratio:2){#logo{background:url(//www.google.com/images/errors/logo_sm_2_hr.png) no-repeat;-webkit-background-size:100% 100%}}#logo{display:inline-block;height:55px;width:150px}\n  </style>\n  <a href=//www.google.com/><span id=logo aria-label=Google></span></a>\n  <p><b>404.</b> <ins>That’s an error.</ins>\n  <p>The requested URL <code>/any-page</code> was not found on this server.  <ins>That’s all we know.</ins>\n"
````

After testing in a local server, it looks like httparty sends two requests with different methods: HEAD and GET. Sample Apache's logs:

```
192.168.0.20 (-) - - [28/Nov/2014:00:43:42 +0100] "HEAD / HTTP/1.1" 302 - "-" "Ruby"
192.168.0.20 (-) - - [28/Nov/2014:00:43:43 +0100] "GET / HTTP/1.1" 302 - "-" "Ruby"
```

Any ideas of what might cause this problem?

I got bitten by this problem, too, and I've done a little research on it.

@fernandomm you can pass `maintain_method_across_redirects: true` in the constructor options to ensure the target of the redirect is also called with HEAD:

```ruby
head_response = HTTParty.head(url,
  follow_redirects: true,
  maintain_method_across_redirects: true
)
```

It's not a well documented option but I found it by reading the source. Unless you change the default_options, `maintain_method_across_redirects` is nil/false by default.

***

@jnunemaker I've studied the relevant RFCs, and here's what I've found:

[Section 10 of rfc2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.3.3) states:

> Note: RFC 1945 and RFC 2068 specify that the client is not allowed to change the method on the redirected request.

However, [rfc2616 has recently been obsoleted](https://www.mnot.net/blog/2014/06/07/rfc2616_is_dead). One of the rfc which replaces it, rfc7231, states the following in [Section 6.4](http://tools.ietf.org/html/rfc7231#section-6.4):

> Note: In HTTP/1.0, the status codes 301 (Moved Permanently) and
>       302 (Found) were defined for the first type of redirect
>       ([RFC1945], Section 9.3).  Early user agents split on whether the
>       method applied to the redirect target would be the same as the
>       original request or would be rewritten as GET.  Although HTTP
>       originally defined the former semantics for 301 and 302 (to match
>       its original implementation at CERN), and defined 303 (See Other)
>       to match the latter semantics, prevailing practice gradually
>       converged on the latter semantics for 301 and 302 as well.  The
>       first revision of HTTP/1.1 added 307 (Temporary Redirect) to
>       indicate the former semantics without being impacted by divergent
>       practice.  **Over 10 years later, most user agents still do method
>       rewriting for 301 and 302; therefore, this specification makes
>       that behavior conformant when the original request is POST.** (emphasis mine)

Although this would lead me to believe that *any* redirected request *should* be rewritten as a GET, it specifically says "when the original request is POST". This is still confusing then, since it doesn't talk about HEAD or, for that matter, any other GET-based requests (like OPTIONS). But it doesn't expressly prohibit keeping the request as a HEAD, either.

To me, principle of least surprise would say that a redirected HEAD should continue to be a HEAD.  But, would making the default for `maintain_method_across_redirects` be true *only* for HEAD requests be confusing, especially if you're including the HTTParty module?

A simpler idea would be, if a HEAD request is redirected and `maintain_method_across_redirects` is falsey, warn that the redirect will happen as a GET and tell how to set `maintain_method_across_redirects` to get around this.

@xunker great research. I think you speak sanity. I'm :cool: with a PR that does that if anyone has time.