Case sensitive headers

Hi there,

I am trying to consume a Restfull JSON API  from a offsite payment provider but they decided header namings are in fact case sensitive for them. I need to provide an `api_key` (all lowercase) header but the httparty gem is forcing capitalized header namings.

Is there any way i can disable this modification of header namings?

Thanks in advance.

Pretty sure httparty just passes headers to net/http, so there isn't anything we can do. If anyone can show different, happy to dig in.

For anyone having the same problem, overriding the immutable header key class from net::http is a solution.

```ruby
require 'net/http'

class Net::HTTP::ImmutableHeaderKey
  attr_reader :key

  def initialize(key)
    @key = key
  end

  def downcase
    self
  end

  def capitalize
    self
  end

  def split(*)
    [self]
  end

  def hash
    key.hash
  end

  def eql?(other)
    key.eql? other.key.eql?
  end

  def to_s
    key
  end
end
```

And in your HTTParty class:
```ruby
headers Net::HTTP::ImmutableHeaderKey.new('api_key') => 'HIDDEN_API_KEY_VALUE'

+1. Thanks @FabianOudhaarlem 

However, this worked in ruby 2.0.0 but not in 2.3.0

Aside from the idea of hacking Net::HTTP to work with case sensitive headers you should probably note that https://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.2 defines HTTP message headers as follows:

> HTTP header fields, which include general-header (section 4.5), request-header (section 5.3), response-header (section 6.2), and entity-header (section 7.1) fields, follow the same generic format as that given in Section 3.1 of RFC 822 [9]. Each header field consists of a name followed by a colon (":") and the field value. **Field names are case-insensitive**. The field value MAY be preceded by any amount of LWS, though a single SP is preferred. Header fields can be extended over multiple lines by preceding each extra line with at least one SP or HT. Applications ought to follow "common form", where one is known or indicated, when generating HTTP constructs, since there might exist some implementations that fail to accept anything

I'm not trying to be the one that yells fix your server — since a third-party API is rarely something you can fix – but I'd suggest filling a bug report for any server that refuses identical header keys with a different case.

For future Googlers, this works in Ruby 2.3 AFAICT:

```ruby
module Net::HTTPHeader
  def capitalize(name)
    name
  end
  private :capitalize
end
```

In my initial tests, this solved the problem with my communication with the  non-RFC-compliant server.

I think @FabianOudhaarlem  solution doesn't work on Ruby 2.3 because to_s is called here:

```ruby
  def capitalize(name)
    name.to_s.split(/-/).map {|s| s.capitalize }.join('-')
  end
  private :capitalize
```

That would turn the `Net::HTTP::ImmutableHeaderKey` into a regular string.

Here is a terrifying hack that does work on Ruby 2.3.  The first time .to_s is called, the ImmutableHeaderKey returns a version that can't be downcased.  After that, it just returns a string.

```ruby

class Net::HTTP::ImmutableHeaderKey
  attr_reader :key

  def initialize(key)
    @key = key
  end

  def downcase
    self
  end

  def capitalize
    self
  end

  def split(*)
    [self]
  end

  def hash
    key.hash
  end

  def eql?(other)
    key.eql? other.key.eql?
  end

  def to_s
    def self.to_s
      key
    end
    self
  end
end
```

You have to create a new key for each request.  No headers in the class:

```ruby
  response = HTTParty.get('https://thisstupidserveruserscasesensitiveheaders.com/woops', headers: {
      'Content-Type' => 'application/json',
      Net::HTTP::ImmutableHeaderKey.new('api_key') => 'OFMG',
      Net::HTTP::ImmutableHeaderKey.new('api_secret') => 'NOOO'
    }
  )
```
YMMV

Typhoeus can send lowercase header names if they are supplied as strings, so that is a nicer workaround if monkeypatching Net::HTTP isn't acceptable.

What about passing numbers in the headers? I created a `curl` get request that works with the header of `"AuthDate: 1531403501"` However, in Ruby I get the following error: ```\"Authdate\":\"1531403501\"}" }, { "error_code": "external_auth_error", "error_message": "Date header is missing or timestamp out of bounds" } ] }``` I tried passing it hard copied without success: 
```{
        "Authorization"  => "HMAC-SHA256 api_key='#{@api_key}' signature='#{@signature}'",
        "AuthDate" => 1531403501
      }```

> module Net::HTTPHeader def capitalize(name) name end private :capitalize end

This work for Ruby 2.5.1

Instead of monkey patching the `Net::HTTPHeader`, a new extended String class with new capitalize can fix the issue. 
I found following solution Calvin's blog https://calvin.my/posts/force-http-header-name-lowercase
Posting the solution in case, url ever goes down
```ruby 
 class ImmutableKey < String 
         def capitalize 
               self 
         end 
 end
```

and use it as following 

```ruby
  {
    ImmutableKey("key-should-be-small") => "val",
   "Key-can-be-uppercase" => "r"
 }
```
Use it only for keys that need to be preserved in a particular case

> Instead of monkey patching the `Net::HTTPHeader`, a new extended String class with new capitalize can fix the issue. I found following solution on Calvin's blog https://calvin.my/posts/force-http-header-name-lowercase (Thanks Calvin)
> 
> Posting the solution, in case url ever goes down
> 
> ```ruby
>  class ImmutableKey < String 
>          def capitalize 
>                self 
>          end 
>  end
> ```
> 
> and use it as following
> 
> ```ruby
>   {
>     ImmutableKey.new("key-should-be-small") => "val",
>    "Key-can-be-uppercase" => "r"
>  }
> ```
> 
> Use it only for keys that need to be preserved in a particular case

Note for 2.3.0 and above, you will also need to include definitions for `downcase` & `to_s`

https://stackoverflow.com/a/42121370/18820441